<template>
  
    <section class="area-conteudo">

        <header class="area-header">

            <h1 class="titulo-pagina"></h1>

        </header>

        <div class="area-breadcrumb"></div>

        <div class="area-submenu"></div>

        <div class="area-conteudo"></div>

    </section>

</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>

</style>


