<template>

    <section id="sessao_comparador_produtos">

        <div class="container-comparador">
            
            <!--  informações basicas do produto selecionado  -->
            <div class="item-comparar">

                <div class="area-produto-selecionado">
                    
                    <figure class="figura-produto">
                        <img src="" alt="Imagem do produto">
                    </figure>

                    <ul class="lista-info-produto">
                        <li>Nome produto</li>
                        <li>Formula</li>
                        <li>Conteudo</li>
                    </ul>

                </div>

            </div>

            <!--  resultado de busca avançada  -->
            <div class="area-produto-busca-avancada">
                
                <!--  area ações rapidas  -->
                <div class="area-acoes-rapidas">
                    <md-button>Identificar o menor preço</md-button>
                    <md-button>Identificar mais próximo</md-button>
                </div>

                <!--  drogarias localizadas  -->
                <div class="area-drogarias-localizadas">

                    <p>Drogarias localizadas</p>
                    <div class="item-drogaria-localizada">
                        <img src="" alt="">
                        <p>Nome drogaria</p>
                    </div>

                </div>

            </div>

        </div>

    </section>

</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>

    #sessao_comparador_produtos {
        display: flex;
        display: none;
        justify-content: center;
        width: 100%;
        height: 600px;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
        box-shadow: 0px -1px 5px #e1e1e1;
        z-index: 4;
    }
    .container-comparador {
        width: 85%;
        display: flex;
        align-content: center;
        justify-content: flex-start;
    }
    .item-comparar {
        display: flex;
        width: 30%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .figura-produto {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
        max-width: 100%;
        min-height: 200px;
        background-color: #f5f5f5;
        img {
            display: block;
            width: 100%;
            max-width: 100%;
        }
    }
    .lista-info-produto {
        list-style-type: none;
        li {
            font-size: 12pt;
        }
    }
</style>
