<template>
    
    <md-whiteframe tag="section" class="container">

        <header-container :titulo="titulo">
            <div slot="menu">
                <slot name="menu"></slot>
            </div>
        </header-container>

        <slot name="conteudo" class="conteudo"></slot>

    </md-whiteframe>

</template>

<script>

export default {
    components: {
        headerContainer: require('./HeaderContainer') // dependencia OBS: chamar no compoennte que chama este componente
    },
    props: ['titulo']
}
</script>

<style lang="scss" scoped>

    .container {
        position: relative;
        display: block;
        margin:40px auto;
        width: 80%;
        padding-bottom:15px;
        box-sizing: border-box;
        background-color: white;
    }

</style>
