<template>

    <header class="cabecalho-caixa-consulta" v-show="titulo">
        
        <h2 class="subtitulo">{{ titulo }}</h2>

        <slot name="menu"></slot>

    </header>

</template>

<script>
export default {
    props: ['titulo']
}
</script>

<style lang="scss" scoped>
    .cabecalho-caixa-consulta {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #F5F5F5;
    }

    .subtitulo {
        margin:10px;
        font-size: 12pt;
        // letter-spacing: .1em;
        text-transform: uppercase;
        color: #848484;
    }
</style>
