<template>

    <section>

      <MenuAdmin></MenuAdmin>

      <conteudo></conteudo>

    </section>

</template>

<script>

  export default {
    components: {
      MenuAdmin: require('./menu/MenuAdmin'),
      conteudo: require('./conteudo/Modelo')
    }
  }
  
</script>

<style scoped>

</style>
