<template>

    <section class="corpo-site">

        <header>
            <h1>Mediway</h1>
        </header>

        <div>
            <p>Teoricamente este aqui seria o conteudo do site</p>
        </div>

        <a href="#/entrar"><md-button>Entrar</md-button></a>

    </section>

</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>

</style>
