<template>

    <div>

        <!--  formulário de busca  -->
        <container>

            <!--  area do form  -->
            <div slot="conteudo" class="area-form">
                
                <form>

                    <md-input-container>
                        <md-icon>search</md-icon>
                        <label>Digite aqui o que você deseja consultar</label>
                        <md-input></md-input>
                    </md-input-container>

                    <div class="area-acoes">
                        <md-button class="botao-consultar">Consultar</md-button>
                    </div>
                </form>

            </div>

        </container>

        <!--  resultado da busca  -->
        <container titulo="Resultado da consulta" style="position:static;">

            <div slot="conteudo">
                <resultado-consulta :resultados="resultadoConsulta"></resultado-consulta>
            </div>

        </container>

    </div>

</template>

<script>

export default {
    components: {
        container: require('./../shared/Container'),
        headerContainer: require('./../shared/HeaderContainer'),
        resultadoConsulta: require('./ResultadoConsulta'),
    },
    data() {
        return {
            resultadoConsulta: [
                {
                    id: 1,
                    nomeComercial: 'Comegripe',
                    formula: 'Cloridato de fenilefina - 4mg',
                    conteudo: '20 capsulas',
                    drogaria: 'Raio de sol',
                    preco: 'R$15,00',
                }, 
                {
                    id: 2,
                    nomeComercial: 'Comegripe',
                    formula: 'Cloridato de fenilefina - 8mg',
                    conteudo: '40 capsulas',
                    drogaria: 'Raio de sol',
                    preco: 'R$18,30'
                }
            ]
        }
    }
    
}
</script>   

<style lang="scss" scoped>

    .area-form {
        display: flex;
        justify-content: center;
        width: 100%;
        
        form {
            width: 500px;
            margin-top: 30px;
        }
    }


    // area ações
    .area-acoes {
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }
    .botao-consultar {
        background-color: #FDD835 !important;       
        color: white !important;
    }


</style>
