<template>

    <section class="sessao-itens-selecionados" :class="{'mostra-sessao': itens.length}">

        <!--  area itens selecionados  -->
        <div class="area-itens-selecionados">

            <!--  quantidade selecionada  -->
            <div>
                {{ itens.length }} produto(s) selecionado
            </div>

            <!--  opções  -->
            <div>
                <md-button class="md-icon-button">
                    <md-icon>more_vert</md-icon>
                </md-button>
            </div>
            
        </div>

    </section>

</template>

<script>
export default {
    props: ['itens'],
    methods: {

    }
}
</script>

<style lang="scss" scoped>

    .sessao-itens-selecionados {
        position: fixed;
        bottom: -65px;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        transition: .2s ease;
    }
    .mostra-sessao { bottom: 0 }

    .area-itens-selecionados {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        height: 60px;
        padding: 5px 5px 5px 25px;
        background-color: white;
        box-shadow: 0 0px 2px #a1a1a1;
    }

</style>
