<template>
  
    <section>

        <!--  tabela  -->
        <md-table @select="onSelect">
            
            <!--  cabeçalho  -->
            <md-table-header>
                <md-table-row>
                    <md-table-cell>Nome comercial</md-table-cell>
                    <md-table-cell>Fórmula</md-table-cell>
                    <md-table-cell>Conteúdo</md-table-cell>
                    <md-table-cell>Drogaria</md-table-cell>
                    <md-table-cell>Preço</md-table-cell>
                    <!-- <md-table-cell></md-table-cell> -->
                </md-table-row>
            </md-table-header>

            <!--  conteudo  -->
            <md-table-body>
                <md-table-row v-for="(row, rowIndex) of resultados" :md-item="row" :key="rowIndex" md-selection>
                    <!--  Object.getOwnPropertyNames(row).length  -->
                    <md-table-cell v-for="(column, columnIndex) of row" :key="column" v-if="columnIndex != 'id'">
                        {{ column }}
                    </md-table-cell>
                </md-table-row>
            </md-table-body>

        </md-table>

        <itens-selecionados :itens="produtosSelecionados"></itens-selecionados>

    </section>

</template>

<script>

export default {
    components: {
        container: require('./../shared/Container'),
        itensSelecionados: require('./ItensSelecionados')
    },
    props: ['resultados'],
    data() {
        return {
            row: [],
            produtosSelecionados: []
        }
    },
    methods: {
        onSelect(itensSelecionados) {
            console.log(itensSelecionados)
            this.produtosSelecionados = itensSelecionados
        }
    }
}
</script>

<style lang="scss" scoped>

</style>
