<template>

    <md-whiteframe md-tag="header" class="barra-topo">

        <!--  logo da empresa  -->
        <figure class="figure-logo">
            <a href="#/sistema"><img src="https://firebasestorage.googleapis.com/v0/b/mediway-10d66.appspot.com/o/Medicines.png?alt=media&token=dfcc1003-2596-4d0d-9d17-b3698d6c4559" alt="logo da empresa Mediway"></a>
        </figure>

        <!--  area dos links  -->
        <div class="area-links">
            <router-link to="/sistema/consulta"><md-button>Consultar</md-button></router-link>
            <a href="#"><md-button>Lojas próximas</md-button></a>
            <a href="#"><md-button>Produtos</md-button></a>
        </div>

        <!--  area de exibição do perfil  -->
        <div class="area-perfil">
            <menu-profile></menu-profile>
        </div>

    </md-whiteframe>

</template>

<script>
export default {
  components: {
      menuProfile: require('./MenuProfile')
  }
}
</script>

<style lang="scss" scoped>

    // estilização do topo
    .barra-topo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: white;
        height: 70px;
    }

    
    // estilização do logo
    .figure-logo {
        width: 50px;
    }


    // estilização dos links
    .area-links {
        a {
            color: #616161
        }
    }

    // area perfil
    .area-perfil {
        width: 85px;

        i {
            color: #B0BEC5;
        }
    }

</style>
