<template>

    <md-menu md-direction="bottom left">

        <md-button class="md-icon-button icon-perfil" md-menu-trigger>
            <md-icon >account_circle</md-icon>
        </md-button>

        <md-menu-content>
            <md-menu-item>Alterar dados</md-menu-item>
            <md-menu-item>Privacidade</md-menu-item>
            <md-menu-item>Ajuda</md-menu-item>
            <md-menu-item @click="sair()">Sair</md-menu-item>
        </md-menu-content>

    </md-menu>

</template>

<script>
import FirebaseInit from './../../firebase/firebase-init'
export default {
    methods: {
        sair() {
            FirebaseInit.auth().signOut()
        }
    }
}
</script>

<style lang="scss" scoped>
    .icon-perfil {
        transform: scale(1.4)
    }
</style>
