<template>

    <section class="geral">
        <!--  component barra do topo  -->
        <barra-topo></barra-topo>  

        <div class="container">

            <!--  conteudo  -->
            <router-view></router-view>

        </div>
    </section>
    

</template>

<script>

export default {
    components: {
        barraTopo: require('./header/BarraTopo')
    }
}
</script>

<style lang="scss" scoped>
    
</style>
