<template>

    <section id="menuAdmin">


        <!-- botão configuração -->
        <div class="area-botao-config">

            <md-button class="md-icon-button">
                <md-icon>settings</md-icon>
            </md-button>

        </div>


        <!-- area perfil drogaria -->
        <div class="area-perfil-drogaria">

            <figure class="figure-drogaria">
                <img src="./../../../assets/logo/mediway.png" alt="Imagem perfil drogaria">
            </figure>

            <h3 class="titulo-nome-drogaria">Nome da drogaria</h3>

        </div>


        <!-- area navegação -->
        <div class="area-navegacao">
    
            <md-toolbar md-theme="white">
                <span class="md-title">Menu</span>
            </md-toolbar>

            <md-list>

                <md-list-item>
                    <router-link to="/admin/meus-pedidos">Meus pedidos</router-link>
                </md-list-item>

                <md-list-item>
                    <router-link to="/admin/produtos">Produtos</router-link>
                </md-list-item>

                <md-list-item>
                    <router-link to="/admin/drogaria">Drogaria</router-link>
                </md-list-item>

                <md-list-item>
                    <router-link to="/admin/delivery">Delivery</router-link>
                </md-list-item>

            </md-list>
        </div>

        <div class="item-upgrade-conta menu-mais"></div>

    </section>

</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>

    #menuAdmin {
        width: 300px;
        height: 100vh;
        background-color: white;
        box-shadow: 2px 0 2px 1px #e1e1e1;
    }

    .area-botao-config {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    // area perfil drogaria
    .area-perfil-drogaria {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
        box-shadow: 0 3px 2px #F5F5F5;
    }

    .figure-drogaria {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        border-radius: 100%;
        overflow: hidden;

        img { width: 130%; max-width: none; }
    }

    .titulo-nome-drogaria {
        font-size: 14pt;
        font-weight: normal;
    }



    // area navegação
    .area-navegacao {
        ul {
            max-height: 256px;
            overflow-y: auto;
        }
    }

</style>


