<template>

    <!--form de login via email e senha -->
    <form id="form_acao_login" action="#" method="POST" @submit.prevent="entrar()">

        <!-- entrada de email -->
        <label for="email"></label>
        <input type="email" name="email" autocomplete="email" id="email" placeholder="Digite seu email" autofocus>

        <!-- entrada de senha -->
        <label for="senha"></label>
        <input type="password" name="senha" autocomplete="current-password" id="senha" placeholder="Digite sua senha">

        <!-- area onde fica as ações de login como, botão de entrar/esqueceu a senha -->
        <div class="acoes-form">

            <!-- botão para entrar no sistema -->
            <md-button class="md-raised button-submit" type="submit">Entrar</md-button>

            <!-- link de esqueceu a senha -->
            <a class="esqueceu-senha" href="javascript:void(0)">esqueceu a senha?</a>

        </div>

        <!-- <md-snackbar :md-position="vertical + ' ' + horizontal" ref="snackbar" :md-duration="duration">
            <span>Connection timeout. Showing limited messages.</span>
            <md-button class="md-accent" md-theme="light-blue" @click="$refs.snackbar.close()">Retry</md-button>
        </md-snackbar> -->

    </form>

</template>

<script>

import FirebaseInit from './../../firebase/firebase-init'

export default {

    data() {
        return {
            form: null
        }
    },

    methods: {

        validar() {

            // valida email
            if (this.form.email.value == "" || this.form.email.value == null || this.form.email.value == undefined) {
                return false
            }

            if (this.form.senha.value == "" || this.form.senha.value == null || this.form.senha.value == undefined) {
                return false
            }

            return true

        },

        entrar() {

            console.log("validar")

            if (!this.validar())
                return

            FirebaseInit.auth().signInWithEmailAndPassword(this.form.email.value, this.form.senha.value)
                .catch(err => {
                    console.log(err)
                })

        }

    },

    mounted() {
        this.form = document.querySelector('#form_acao_login')
    }

}
</script>

<style lang="scss" scoped>

    #form_acao_login {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 83%;

        input{ 
            display: block;
            width: 100%;
            margin-bottom: 15px;
            border: none;
            background-color: #f1f1f1;
            padding: 10px 15px 10px 15px;
            box-sizing: border-box;
        }
    }

    .acoes-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 10px;
        width: 100%;
    }
    .button-submit {
        margin:5px 0;
        width: 100%;
        box-sizing: border-box;
    }

    .esqueceu-senha {
        font-size: 9pt;
        color: #1976D2;
        text-align: right;
        &:active {
            color: #0D47A1;
        }
    }

</style>
