<template>

    <!-- area total da pagina de login -->
    <section class="area-login">

        <div class="section">
        
            <!-- logo da empresa -->
            <div class="flex-center">

                <figure class="logo-empresa">
                    <img src="https://firebasestorage.googleapis.com/v0/b/mediway-10d66.appspot.com/o/Medicines.png?alt=media&token=dfcc1003-2596-4d0d-9d17-b3698d6c4559" alt="">
                </figure>

            </div>

            <!-- area das opções de login -->
            <div class="campo-login">

                <!-- area botoes de login via redes sociais -->
                <div class="btn-login-redes-sociais">
                    
                    <!-- entrar com google plus -->
                    <LoginWithGoogle />
                    
                    <!--entrar com facebook  -->
                    <LoginWithFacebook />

                </div>

                <!-- divisória -->
                <p class="divisoria">ou</p>

                <LoginWithEmailAndPassword />

            </div>

        </div>

    </section>
    
</template>

<script>

export default {

    components: {
        LoginWithEmailAndPassword: require('./LoginWithEmailAndPassword'),
        LoginWithGoogle: require('./LoginWithGoogle'),
        LoginWithFacebook: require('./LoginWithFacebook')
    },

    methods: {

    },

    created() {
        
    }

}
</script>

<style lang="scss">

    .section {
        width: 400px;
    }

    .area-login {
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-wrap: wrap;
        background-color: #FAFAFA;
        align-items: center;
        justify-content: center;
    }

    .flex-center {
        display: flex;
        justify-content: center;
    }

    .logo-empresa {
        display: block;
        margin:0;
        margin-top: -20px;
        margin-bottom: 20px;
        width: 100px;

        img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
        }
    }

    /* estilizando area login */
    .campo-login {
        box-shadow: 0 2px 2px #cecece;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: white;
        width: 400px;
        height: 400px;
    }

    /* estilização area dos botões de login via redes sociais */
    .btn-login-redes-sociais {
        width: 85%;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        margin-top: 20px;
    }

    .divisoria {
        position: relative;
        display: block;
        text-align: center;
        color: #e1e1e1;
        font-size: 12pt;
        width: 100%;
        margin:0;
        padding:0;

        &:before {
            content: '';
            width: 34%;
            height: 1px;
            background-color: #e1e1e1;
            position: absolute;
            left: 33px;
            top: 11px;
        }
        &:after {
            content: '';
            width: 34%;
            height: 1px;
            background-color: #e1e1e1;
            position: absolute;
            right: 33px;
            top: 11px;
        }
    }

    

</style>
