<template>

    <div class="area-botao">

        <!-- entrar com google plus -->
        <md-button class="btn-facebook" @click="entrarComFacebook()">Entrar com facebook</md-button>

    </div>

</template>

<script>

import FirebaseInit from './../../firebase/firebase-init.js'

export default {
  
    methods: {


        entrarComFacebook() {

            let provider = new FirebaseInit.auth.FacebookAuthProvider()
                    
            FirebaseInit.auth().signInWithPopup(provider)
                .then(result => {
                    let token = result.credential.accessToken
                    let user = result.user
                    console.log(token, user, result)
                })
                .catch(err => {
                    console.log(err)
                })

        }

    }

}
</script>

<style lang="scss" scoped>

    .area-botao {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .btn-facebook {
        background-color: #3F51B5 !important;
        &:hover {
            background-color: #7986CB !important;
        }   
    }

    .btn-facebook {
        width: 100%;
        color: white;
    }

</style>
