<template>

    <div class="area-botao">

        <!-- entrar com google plus -->
        <md-button class="btn-google" @click="entrarComGoogle()">Entrar com google +</md-button>

    </div>

</template>

<script>

import FirebaseInit from './../../firebase/firebase-init.js'

export default {
  
    methods: {


        entrarComGoogle() {

            console.log("entrou no metodo")
            let provider = new FirebaseInit.auth.GoogleAuthProvider()
            
            FirebaseInit.auth().signInWithPopup(provider)
                .then(result => {
                    let token = result.credential.accessToken
                    let user = result.user

                    console.log(token, user, result)
                })
                .catch(err => {
                    console.log(err)
                })

        }

    }

}
</script>

<style lang="scss" scoped>

    .area-botao {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .btn-google {
        background-color: #f44336;
        &:hover {
            background-color: #e57373 !important;
        }
    }

    .btn-google {
        width: 100%;        
        color: white;
    }

</style>
