<template>

    <div id="app">

        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

        <router-view></router-view>

    </div>

</template>




<script>

import FirebaseAuthed from './firebase/firebase-authed'

export default {
    name: 'app',
    components: {
        'login': require('@/components/login/Login.vue')
    },
    methods: {
        verificaUsuarioAutenticado() {
            let firebaseAuth = new FirebaseAuthed()
            if (!firebaseAuth.usuarioAtual()) {
                console.log("APP detectou que usuário não esta logado")
            }
        }
    },
    created () {
        this.verificaUsuarioAutenticado()
    }
}

</script>



<style lang="scss">

    html, body { position: relative; }

    #app {
        position: relative;
        width: 100%;
        min-height: 100vh;
        font-size:20px;
        background-color: #FAFAFA;
    }

</style>
